* {
	font-family: "Pokemon Solid", sans-serif;
  font-size: 3vw
}

.body {
	background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cad4b52e-f6b1-432f-9035-a5f4853bcf15/dadi2rt-16170d32-ea53-4523-9064-489fe1d8a79e.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2NhZDRiNTJlLWY2YjEtNDMyZi05MDM1LWE1ZjQ4NTNiY2YxNVwvZGFkaTJydC0xNjE3MGQzMi1lYTUzLTQ1MjMtOTA2NC00ODlmZTFkOGE3OWUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.7j9D9PQAaouSZJ2pz6ZRi9MzyRzHbiX3443l7UnYlks");
	background-size: contain;
	background-repeat: round;
	padding-bottom: 19dvh;
}


.header {
	text-align: center;
}
.headerImage {
	width: 50%;
}

.searchFunction {
	text-align: center;
	margin: 1rem;
}

.body {
	background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cad4b52e-f6b1-432f-9035-a5f4853bcf15/dadi2rt-16170d32-ea53-4523-9064-489fe1d8a79e.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2NhZDRiNTJlLWY2YjEtNDMyZi05MDM1LWE1ZjQ4NTNiY2YxNVwvZGFkaTJydC0xNjE3MGQzMi1lYTUzLTQ1MjMtOTA2NC00ODlmZTFkOGE3OWUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.7j9D9PQAaouSZJ2pz6ZRi9MzyRzHbiX3443l7UnYlks");
	background-size: contain;
	background-repeat: round;
	padding-bottom: 19dvh;
}
/* .container {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
} */

.containerItem {
	margin: 1rem;
}

.searchLabel {
	color: white;
	margin: 15px;
}





.searchResultGrid {
  display: flex;
}


.searchResultCard {
	margin: 1rem;
	width: 100%;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.button {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border-radius: 100%;
	overflow: hidden;
	margin: 1rem;
	background-image: url("https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRq54p47HwRsvn6IlgG7eciYY69wQlzxgFgL42lj1q2M2n4LR2DvRS5l6N-lASktu5lnTLqVtsRIsMSRtG7bkZPss8-bZb63jKTQB_9mrgyD2Wc_TPTYA2pHHf16ZCZYUb--m8O3A&usqp=CAc");
	background-size: contain;
	background-repeat: round;
	line-height: 200%;
}
.headerButton {
	width: 10%;
	height: 0;
	padding-bottom: 10%;
	border-radius: 100%;
	overflow: hidden;
	background-image: url("https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRq54p47HwRsvn6IlgG7eciYY69wQlzxgFgL42lj1q2M2n4LR2DvRS5l6N-lASktu5lnTLqVtsRIsMSRtG7bkZPss8-bZb63jKTQB_9mrgyD2Wc_TPTYA2pHHf16ZCZYUb--m8O3A&usqp=CAc");
	background-size: contain;
	background-repeat: round;
	position: relative;
	font-size: 80%;
	line-height: 450%;
	margin-bottom: 1%;
}

@media (min-width: 10px) {
	*{
		font-size: 3vw
	}
  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 600px){
  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 900px) {
	*{
		font-size: 1vw
	}
  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
	.searchResultCard{
		grid-column-start: 2 ;
		
	}
	.searchResultGrid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.button {
		width: 50%;
		height: 0;
		padding-bottom: 50%;
		border-radius: 50%;
}
}
